@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Consume Banking Microservice</h3>
</div>

<form action="/home/transfer" method="post">
    <div class="col-2">
        <div class="form-group">
            <label for="FromAccount">From account: </label>
            <input type="text" class="form-control" name="FromAccount" />
        </div>

        <div class="form-group">
            <label for="ToAccount">To account: </label>
            <input type="text" class="form-control" name="ToAccount" />
        </div>

        <div class="form-group">
            <label for="TransferAmount">Amount: </label>
            <input type="text" class="form-control" name="TransferAmount" />
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-outline-primary" value="Transfer" />
        </div>
    </div>
</form>